<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alycloud.pay.gateway.mapper.AgentMapper">
	<!--  
		数据库中的表名
	-->
	<sql id="tableName">
		agent_info
	</sql>
	<!--  
		分页查询的条件
	-->
	<sql id="queryCondtion">
	     <trim prefix="where" prefixOverrides="and |or">
		     <if test="status !=null">
		         and status = #{status}
		     </if>
		     <if test="superAgent != null">
		         and super_agent =#{superAgent}
		     </if>
	     </trim>
	</sql>
	<!-- 
		获取分公司下的一级代理商的名称 
	-->
	<select 
		id="getAgentName"
		parameterType="HashMap"
		resultType="String">
		select 
			agent_name 
		from 
			agent_info 
		where 
			super_agent = #{branchno}
			and agentno = #{agentno}
	</select>
	
	<!--  
		字段映射关系
	-->
	<sql id="fieldMapping">
   		id as id,
		agentno as agentno,
		agent_name as agentName,
		full_name as fullName,
		divide as divide,
		legal_name as legalName,
		identity_card as identityCard,
		link_man as linkMan,
		email as email,
		telephone as telephone,
		mobile as mobile,
		member_fee as memberFee,
		assurance_fee as assuranceFee,
		area_code as areaCode,
		address as address,
		super_agent as superAgent,
		status as status,
		open_time as openTime,
		audit_status as auditStatus,
		audit_agentno as auditAgentno,
		accountno as accountno,
		account_type as accountType,
		account_name as accountName,
		bankno as bankno,
		bank_name as bankName,
		identity_card_img as identityCardImg,
		contract_img as contractImg,
		other_file as otherFile,
		add_time as addTime,
		agent_level as agentLevel,
		agent_type as agentType,
		branchno as branchno,
		agentno_first as agentnoFirst,
		biz_type as bizType,
		bank_card_img as bankCardImg,
		withdrawal_fee as withdrawalFee,
		t0_divide as t0Divide,
		pos_debit_rate as posDebitRate,
		pos_debit_fixed as posDebitFixed,
		pos_credit_rate as posCreditRate,
		app_debit_rate as appDebitRate,
		app_debit_fixed as appDebitFixed,
		app_credit_rate as appCreditRate,
		pos_t0_rate as posT0Rate,
		app_t0_rate as appT0Rate,
		online_rate as onlineRate,
		fastpay_rate_t0 as fastPayRateT0,
		fastpay_rate_t1 as fastPayRateT1
	</sql> 
	
	 <select 
    	id="getByAgentno"
    	parameterType="String"
    	resultType="com.alycloud.pay.gateway.models.agent.AgentBean">
    	select 
    		<include refid="fieldMapping"/>
    	from 
    		<include refid="tableName"/> 
    	where
    		agentno = #{agentno}
    </select>
    <!--  
    	分页查询信息
    -->
    <select 
    	id="listByPage"
    	parameterType="HashMap"
    	resultType="com.alycloud.pay.gateway.models.agent.AgentBean">
    	select 
    		 id as id,
    		 agentno as agentno,
    		 agent_name as agentName,
    		 link_man as linkMan,
    		 mobile as mobile,
    		 add_time as addTime
    	from 
    		<include refid="tableName"/>
    		<include refid="queryCondtion"/>
    	order by 
    		add_time desc
    	limit
    		${startIndex}, ${pageSize}
    </select>
</mapper>